.action_info-container {
    // height: 100%;
    background-color: #94716b;

    .ui.container {
        height: 100%;

        .table-wrapper {
            background-color: bisque;

            .info-container {
                width: 90%;
                margin: 0 auto;
                height: inherit;
                background-color: #7FDBFF;
                padding: 5% 0 10px 0;
                margin-bottom: 5%;

                .date-info {
                    margin-left: 3%;

                    p {
                        text-align: left;
                        font-weight: 300;
                        font-size: 14px;
                        font-family: 'Zilla Slab Highlight', sans-serif;
                    }
                }

                .detail-title {
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.1;
                    font-size: 46px;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                    text-decoration: underline;
                    text-underline-position: under;
                }
    
                .info-header {
                    text-align: center;
                    margin: 0 auto;
    
                    img {
                        margin-bottom: 2rem;
                        margin: 0 auto;
                    }
    
                    h2 {
                        text-align: center;
                        color: #FFF;
                        font-weight: 500;
                        line-height: 1.1;
                        font-size: 36px;
                        font-family: 'Zilla Slab Highlight', sans-serif;
                    }
                }
    
                .img-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-top: 2rem;
                    height: inherit;

                    img {
                        width: unset;
                    }
                }

                .catagories {
                    text-align: center;
                    margin: 3rem 0 2rem 0;

                    .caragory-title {
                        font-size: 30px;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: #49c5b6;
                        transition: color 0.3s ease-in-out;
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }

                .catagories-hidden {
                    display: none;

                }

            }

            .block {
                display: flex;
                
                .inner-block-left {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    max-width: 50%;

                    span.block-info {
                        display: flex;
                        padding: 1rem 3rem;

                        .label {
                            width: 10rem;
                            display: block;
                            float: left;

                        }
                        span.block-data {
                            margin-left: 3rem;
                            font-weight: 500;
                            line-height: 1.1;
                            font-size: 18px;
                            font-family: 'Zilla Slab Highlight', sans-serif;
                        }
                    }

                }
    
                .inner-block-right {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    max-width: 50%;

                    span.block-info {
                        display: flex;
                        padding: 1rem 1rem;

                        .label {
                            width: 10rem;
                            display: block;
                            float: left;
                        }
                        span.block-data {
                            margin-left: 3rem;
                            font-weight: 500;
                            line-height: 1.1;
                            font-size: 18px;
                            font-family: 'Zilla Slab Highlight', sans-serif;
                        }
                    }
                }
            }

        }

        .btn-formate {
            text-align: center;
            padding-bottom: 10px;
        }
    }
}


@media(max-width: 400px) {
    .action_info-container {

        .ui.container {
            
            .table-wrapper {
                width: 95%;
                margin: 0 auto;
                background-color: bisque;

                .block_info {
                    flex-direction: column;

                    .inner-block-left {
                        width: 100%;
                        max-width: 100%;
                    }

                    .inner-block-right {
                        width: 100%;
                        max-width: 100%;
                    }
                }

            }
        }
    }
}