.film-page {
    // height: inherit;
    min-height: 100%;

    .ui.container {

        h1 {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 5px;
        }
    }

    h5 {
        font-weight: 500;
        line-height: 1.1;
        font-size: 16px;
        font-family: 'Zilla Slab Highlight', sans-serif;
    }

    .filmInfo-container {
        width: 95%;
        margin: 5% auto 0 auto;
        

        h1 {
            text-align: center;
            color: #FFF;
            font-weight: 500;
            line-height: 1.1;
            font-size: 36px;
            font-family: 'Zilla Slab Highlight', sans-serif;
        }

        .data-container {
            display: inline;
    
            span {
                display: flex;
                padding: 3px 10px;
            }
        }
    }

    

    .opening_crawl {
        width: 80%;
        margin: 5% auto;
    }

    .producer {
        width: 90%;
        margin: 5% auto;

        span {
            padding: 3px 0;
            display: flex;
        }

    }

    .row {
        margin: 15px 15px;
        
        .by {
            width: 80%;
            margin: 0 auto;
            font-size: 15px;
            font-weight: 300;
            color: #49c5b6;
            text-align: center;
        }
    }

}

@media(max-width: 400px) {
    .film-page {

        .filmInfo-container {

            h1 {

                font-size: 26px;
            }
        }
    }
}