.ui.card > .image .image, .ui.cards > .card > .image {
  width: 100%; }

.ui.card > .image .content, .ui.cards > .card > .content {
  text-align: center; }

.ui.card > .image .extra .ui.buttons, .ui.cards > .card > .extra .ui.buttons {
  width: 100%; }
