.starship-page {
    min-height: 100%;

    .starship-page-container {
        background-color: #85144B;


        .info-container {
            width: 80%;
            text-align: center;
            margin: 0 auto;

            .starship-name {
                color: #AC3B61;
                text-align: center;
                display: inline;

                h1 {
                    padding: 3rem 0 1rem 0;
                    font-size: 32px;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                }
            }

            .time-info {
                color: #01FF70;
                width: 75%;
                text-align: left;
                margin: 0 auto;
            }

            .basic-info {
                color: #7FDBFF;
                text-align: left;
                font-weight: 500;
                line-height: 1.1;
                font-size: 16px;
                font-family: 'Zilla Slab Highlight', sans-serif;
            }

            h1 {
                color: #BaB2B5;
            }

            .btn-format {
                padding: 2rem 0;
            }
        }

    }
}

@media(max-width: 400px) {
    .starship-page {

        .starship-page-container {
    
            .info-container {

                .starship-name {

                    h1 {
                        font-size: 50px;
                    }
                }
                .time-info {
                    width: 100%;
                }

                .basic-info {
                    font-size: 12px;
                }
            }

        }

    }
}