.starship-page {
  min-height: 100%; }
  .starship-page .starship-page-container {
    background-color: #85144B; }
    .starship-page .starship-page-container .info-container {
      width: 80%;
      text-align: center;
      margin: 0 auto; }
      .starship-page .starship-page-container .info-container .starship-name {
        color: #AC3B61;
        text-align: center;
        display: inline; }
        .starship-page .starship-page-container .info-container .starship-name h1 {
          padding: 3rem 0 1rem 0;
          font-size: 32px;
          font-family: 'Zilla Slab Highlight', sans-serif; }
      .starship-page .starship-page-container .info-container .time-info {
        color: #01FF70;
        width: 75%;
        text-align: left;
        margin: 0 auto; }
      .starship-page .starship-page-container .info-container .basic-info {
        color: #7FDBFF;
        text-align: left;
        font-weight: 500;
        line-height: 1.1;
        font-size: 16px;
        font-family: 'Zilla Slab Highlight', sans-serif; }
      .starship-page .starship-page-container .info-container h1 {
        color: #BaB2B5; }
      .starship-page .starship-page-container .info-container .btn-format {
        padding: 2rem 0; }
